<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img
              src="https://bulma.io/images/bulma-type-white.png"
              alt="Logo"
            />
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active"> Home </a>
            <a class="navbar-item"> About </a>
            <a class="navbar-item"> Visit Us </a>
            
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-1 pb-6">Always delivering amazing experiences</p>
      <div class="columns is-align-items-center">
        <div class="column is-half">
          <img
            class=""
            src="https://images.unsplash.com/photo-1602253057119-44d745d9b860?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGlzaHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
            alt=""
          />
        </div>
        <div class="column is-half">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img
                    src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong
                      >FOOD TASTES BETTER WHEN YOU EAT IT WITH YOUR
                      FAMILY</strong
                    >
                    <br />
                    Here at Bulma Foods, we sell all variety of fast foods
                    ranging from snacks, traditional chinese meals, African
                    meals to Intercontinentals.
                  </p>
                    <button class="button is-primary">ORDER TODAY</button>
             
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <p class="title is-1 pt-6 has-text-centered">Our Special Dish</p>
    <div class="columns">
      <div class="column is-one-third">
        <div class="card-content">
          <div class="content">
            <img
              style="width: 250px; height: 250px"
              src="https://www.ocado.com/cmscontent/recipe_image_large/33362787.png?awck"
              alt=""
            />
            <p class="subtitle pt-1">SPAGHETTI BOLOGNESE</p>
            <p>
              Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at
              eros. Donec id elit non mi porta gravida at eget metus. Cum sociis
              natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card-content">
          <div class="content">
            <img
              style="width: 250px; height: 250px"
              src="https://guardian.ng/wp-content/uploads/2018/11/Chinese-Fried-Rice-Photo-Every-day-easy-eats.jpeg"
              alt=""
            />
            <p class="subtitle pt-1">CHINESE FRIED RICE</p>
            <p>
              Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at
              eros. Donec id elit non mi porta gravida at eget metus. Cum sociis
              natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card-content">
          <div class="content">
            <img
              style="width: 250px; height: 250px"
              src="https://lh3.googleusercontent.com/ci/AJFM8ry8-N_gmvmzjlvNFrohFQaj1F9yA3KVXSZrXKuqMcSb5_-_eYeSGxqPZ5EuH1VxnpK3rsxFUl0"
              alt=""
            />
            <p class="subtitle pt-1">EGUSI AND POUNDED YAM</p>
            <p>
              Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at
              eros. Donec id elit non mi porta gravida at eget metus. Cum sociis
              natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Visit</a></li>
          <li><a>Year</a></li>
          <li><a>Meals</a></li>
          <li><a>Recipes</a></li>
          <li><a>Locations</a></li>
          <li><a>Copyright</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
